In [1]:
import numpy as np
import pandas as pd

## Numpy (Part I)

**Topics:**

* Numpy: 
 - ndarray
 - Numpy Array Initialization and Getting Started
 - Manipulating the dimensions of an array
 - Slicing into Array

### ndarray

The use of numpy arrays became popular in scientific computing, due to its efficiency. This efficiency is largely due to the following characteristics:

All elements are of the same type (float or int)
Arrays have a fixed size

## Numpy Array Initialization and First Steps

In [111]:
lista = [1, 2, 3]
np_array = np.array(lista, int) # we can change the type of list numbers -> int or floa
print(np_array)

[1 2 3]

In [112]:
type(np_array)# show the type of variable set

numpy.ndarray

In [113]:
np_array.ndim # number of dimensions -> in this case it's only one since it's not an array

1

In [114]:
np_array.shape # Show the shape

(3,)

In [116]:
np_array.size # Elements numbers

3

In [117]:
z = np.zeros((2,3)) # back a matrix of 0 -> first argument are the rows and the second the columns
z

array([[0., 0., 0.],
       [0., 0., 0.]])

In [118]:
u = np.ones((2,3), int) # back a matrix of 1 -> first argument are the rows and the second the columns
u

array([[1, 1, 1],
       [1, 1, 1]])

In [119]:
i = np.identity(3,float) #-> returns an identity matrix, which is a square with 1 diagonally
i

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [120]:
# If we want an array with a specific value, we use np.full

In [121]:
matriz = np.full((3,3) , 3.5)
matriz

array([[3.5, 3.5, 3.5],
       [3.5, 3.5, 3.5],
       [3.5, 3.5, 3.5]])

 Manipulating the dimensions of an array


If we have an array of dimensions n x m, we can apply a reformat, so that it changes its dimensions without changing the data. The important thing is that the product n.m is constant.

In [ ]:
narray = np.full((2,6) , 0.45)
narray

In [ ]:
narray.reshape(3,4)

In [ ]:
narray.reshape(12,1)

The ravel command distorts the multidimensional array and turns it into a 1D array.

In [123]:
array2 = np.full((2,3) , 1.5)
array2

array([[1.5, 1.5, 1.5],
       [1.5, 1.5, 1.5]])

In [124]:
array2.ravel()

array([1.5, 1.5, 1.5, 1.5, 1.5, 1.5])

###  Slicing Arrays

 : --> means all elements

In [126]:
lista = [[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11]]

In [127]:
mat = np.array(lista)
mat

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [128]:
mat[0,1] # 1º line 2° columm

1

In [129]:
mat[0,:] # 1º line and all columns

array([0, 1, 2, 3])

In [130]:
mat[:,0] # all lines and just 1º column

array([0, 4, 8])

In [131]:
mat[:,2] #  all lines and just 3º column

array([ 2,  6, 10])

# Numpy (Part II)

**Topics**:
* Numpy:
 - Basic functions (np.mean, np.std, np.linspace, np.arange, np.random.choice, np.random.int, np.random.rand, np.where)
 - Array concatenation
 - Operations between Arrays
* Pandas:
 - Arrays Series vs Numpy
 - Series Initialization
 - Basic Operations with Series
 - Series concatenation

## Basics Functions


Numpy has some functions and sub-modules that help the scientist's day-to-day.

In [2]:
# Mean
np.mean([1,2,3,4])

2.5

In [3]:
# stardard desviation
np.std([1,2,3,4])

1.118033988749895

np.arange creates a spaced vector between two numbers

In [4]:
# np.arange
np.arange(start=1, stop=20, step=2)

array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19])

np.linspace generates an array of n numbers between two values.

In [5]:
# np.linspace
np.linspace(start=1, stop=10, num=50)

array([ 1.        ,  1.18367347,  1.36734694,  1.55102041,  1.73469388,
        1.91836735,  2.10204082,  2.28571429,  2.46938776,  2.65306122,
        2.83673469,  3.02040816,  3.20408163,  3.3877551 ,  3.57142857,
        3.75510204,  3.93877551,  4.12244898,  4.30612245,  4.48979592,
        4.67346939,  4.85714286,  5.04081633,  5.2244898 ,  5.40816327,
        5.59183673,  5.7755102 ,  5.95918367,  6.14285714,  6.32653061,
        6.51020408,  6.69387755,  6.87755102,  7.06122449,  7.24489796,
        7.42857143,  7.6122449 ,  7.79591837,  7.97959184,  8.16326531,
        8.34693878,  8.53061224,  8.71428571,  8.89795918,  9.08163265,
        9.26530612,  9.44897959,  9.63265306,  9.81632653, 10.        ])

In [6]:
# np.where 
x = np.arange(9).reshape(3, 3)
x

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [7]:
np.where( x > 2 )

(array([1, 1, 1, 2, 2, 2], dtype=int64),
 array([0, 1, 2, 0, 1, 2], dtype=int64))

In [8]:
x[np.where(x>2)]

array([3, 4, 5, 6, 7, 8])

Numpy's random submodule can be used to generate random numbers, select and shuffle numbers.

In [9]:
# Random choice 
np.random.choice([1,2,3,4,5], 10)

array([2, 1, 2, 1, 2, 5, 5, 2, 4, 5])

In [10]:
# Shuffle
x = [1,2,3]
np.random.shuffle(x)

In [11]:
x

[3, 1, 2]

## Concat Arrays

We can join 2 or more arrays, laterally or vertically.

In [12]:
array = np.arange(9)
array

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [13]:
array2D_1 = array.reshape((3,3))
array2D_1

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [14]:
array2D_2 = np.arange(10,19).reshape(3,3)

In [15]:
# vertical concat
np.concatenate((array2D_1, array2D_2))

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [10, 11, 12],
       [13, 14, 15],
       [16, 17, 18]])

In [16]:
# horizontal concat
np.concatenate((array2D_1,array2D_2),axis=1)

array([[ 0,  1,  2, 10, 11, 12],
       [ 3,  4,  5, 13, 14, 15],
       [ 6,  7,  8, 16, 17, 18]])

In [17]:
# concat 2 or more arrays
np.concatenate((array2D_1, array2D_2, array2D_1, array2D_1))

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [10, 11, 12],
       [13, 14, 15],
       [16, 17, 18],
       [ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8]])

## Math operations with  Arrays

In [22]:
array1 = np.arange(9)
array2 = np.arange(9)

In [23]:
# Sum
array1 + array2

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16])

In [24]:
# Sub
array1 - array2

array([0, 0, 0, 0, 0, 0, 0, 0, 0])

In [25]:
# Division
array1/array2

<ipython-input-25-d084342ebbfe>:2: RuntimeWarning: invalid value encountered in true_divide
  array1/array2

array([nan,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.])

In [26]:
# Multiplication
array1*array2

array([ 0,  1,  4,  9, 16, 25, 36, 49, 64])


And if we try to do operations with lists???

In [27]:
[1,2,3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [28]:
[1,2,3]*[4, 5, 6]

TypeError: can't multiply sequence by non-int of type 'list'

In [29]:
[1,2,3]/[4, 5, 6]

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [30]:
[1,2,3]-[4, 5, 6]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

As we can see, we can´t basic math operations if our arrays are in list type

# Pandas (Part I)

The Series is Pandas' base object, just as the array is numpy's.

* Three most important structures:
    + `Series`
    + `DataFrame`
    + `Index`

## Series vs Numpy

* Preview
* Index

In [31]:
# Visualization
# Numpy
np.array([1,2,3])

array([1, 2, 3])

In [32]:
pd.Series([1,2,3])

0    1
1    2
2    3
dtype: int64


Numpy brings us a horizontal (1D) format. Series are Columns.

* **Index**


In Numpy arrays have numeric indices (0, 1, 2, 3). In Pandas the indices can be numeric and also strings.

In [33]:
series_ex = pd.Series([1,2,3,4], index=['num_1', 'num_2', 'num_3', 'num_4'])

In [34]:
series_ex

num_1    1
num_2    2
num_3    3
num_4    4
dtype: int64

We can access the data as we did in lists and arrays, through the index.

In [35]:
series_ex[0]

1

In [36]:
series_ex['num_1']

1

In [37]:
series_ex['num_1':'num_3']

num_1    1
num_2    2
num_3    3
dtype: int64

In [38]:
series_ex[0:3]

num_1    1
num_2    2
num_3    3
dtype: int64

We can see all their values

In [40]:
series_ex.values

array([1, 2, 3, 4], dtype=int64)

We can see their index

In [41]:
series_ex.index

Index(['num_1', 'num_2', 'num_3', 'num_4'], dtype='object')

## Series inicialization

* We can build `Series` from scratch. The general way of doing this is as follows:

```python
pd.Series(data, index = index)
```
* `index` is an optional argument and `data` can be any number of things

In [42]:
# Series with just one value
pd.Series(5, index = [1, 2, 6])

1    5
2    5
6    5
dtype: int64

In [43]:
# Dictionary 
pd.Series({2 : 'a', 1 : 'b', 3 : 'c'})

2    a
1    b
3    c
dtype: object

## Basic Operations with Series

In [75]:
series1 = pd.Series([1,2,3], index=['meat', 'eggs', 'sheep'])
series2 = pd.Series([1,2,3], index=['eggs', 'meat', 'sheep'])

In [76]:
# Sum
series1 + series2

eggs     3
meat     3
sheep    6
dtype: int64

In [77]:
# Division 
series1/series2

eggs     2.0
meat     0.5
sheep    1.0
dtype: float64

In [78]:
# Sub
series1 - series2

eggs     1
meat    -1
sheep    0
dtype: int64

In [79]:
# Multiplication
series1*series2

eggs     2
meat     2
sheep    9
dtype: int64

In [80]:
# filters
series1 > 3

meat     False
eggs     False
sheep    False
dtype: bool

In [81]:
series1

meat     1
eggs     2
sheep    3
dtype: int64

In [82]:
# If we want the negation of the condition
series1[~(series1>2)]

meat    1
eggs    2
dtype: int64

In [83]:
series1.sum()

6

In [84]:
series1.std()

1.0

In [85]:
series1.max()

3

In [86]:
series1.min()

1

What if we want to create a new element with a new index?

In [87]:
series1['sheep'] = 10

In [88]:
series1

meat      1
eggs      2
sheep    10
dtype: int64

In [89]:
series2

eggs     1
meat     2
sheep    3
dtype: int64

In [90]:
# value counts
series1.value_counts()

10    1
1     1
2     1
dtype: int64

We can check if the value of a series exists in another series or list.

In [91]:
#isin
#
series1.isin(series2)

meat      True
eggs      True
sheep    False
dtype: bool

In [92]:
# operador 
series1

meat      1
eggs      2
sheep    10
dtype: int64

In [93]:
series2

eggs     1
meat     2
sheep    3
dtype: int64

## Series concatenation

In [94]:
series1

meat      1
eggs      2
sheep    10
dtype: int64

In [95]:
series2

eggs     1
meat     2
sheep    3
dtype: int64

In [96]:
pd.concat([series1,series2], axis=1)

        0  1
meat    1  2
eggs    2  1
sheep  10  3

In [97]:
pd.concat([series1,series2], axis=0)

meat      1
eggs      2
sheep    10
eggs      1
meat      2
sheep     3
dtype: int64

# Exercise:

In [98]:
import pandas as pd

In [99]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

Bring as 2 series the values ​​that are in ser1 and not in ser2 and vice ver

In [100]:
ser1[~(ser1.isin(ser2))]

0    1
1    2
2    3
dtype: int64