
**Topics**:
 - Useful Functions
 - DataFrames aggregation (groupby and agg)
 - Apply, Applymap, map
 - Exercises

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [2]:
df_pokemons = pd.read_csv(r'C:\Users\vitor.silva\Desktop\Estudo Python\Python  - Digital\pokemon_data.csv')

# Pandas (Part III)

## Useful Functions


Empty fields can appear in our data routinely. They have different origins and, depending on that origin, they will receive different treatments. At first, let's learn to observe these occurrences and the simplest treatment for them: Exclusion (not always the most appropriate).

In [3]:
#Count NULL
df_pokemons.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [6]:
# drop NAN
df_pokemons_sem_na =  df_pokemons.dropna()

In [5]:
# check for duplicates
df_pokemons.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
795    False
796    False
797    False
798    False
799    False
Length: 800, dtype: bool

In [7]:
# drops duplicates keeping the first that appeared
df_pokemons.drop_duplicates(keep = 'first')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [8]:
# check the unique elements of a column (works best with qualitative - categorical column)
df_pokemons['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [15]:
# Replace
df_pokemons.replace({True : 'verdadeiro' , False : 'falso'})

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,falso
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,falso
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,falso
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,falso
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,falso
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,verdadeiro
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,verdadeiro
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,verdadeiro
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,verdadeiro
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,verdadeiro

## Group By & Aggregate

Aggregation is simply the act of looking at statistics from the perspective of groups.

<img src="https://jakevdp.github.io/PythonDataScienceHandbook/figures/03.08-split-apply-combine.png" height=600 width=600>

Basically, the data will be separated according to one or more groups in common ```(split step)```. Then, from the separation of these groups a function will be applied ```(apply (sum))``` to each subset. In our example this sum function. In the end, it combines the grouped result ```(combine)```.

<img src="https://www.softwaretestingclass.com/wp-content/uploads/2013/06/sql_group_by_with_aggregate_function.gif" height=450 width=450>

Here we see the department groups and extract the sum of salary by department

In [9]:
# Sum of HP grouped by Type 1
df_pokemons.groupby('Type 1').sum()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,
Bug,23080,3925,4897,4880,3717,4471,4256,222,0
Dark,14302,2071,2740,2177,2314,2155,2361,125,2
Dragon,15180,2666,3588,2764,3099,2843,2657,124,12
Electric,15994,2631,3040,2917,3961,3243,3718,144,4
Fairy,7642,1260,1046,1117,1335,1440,826,70,1
Fighting,9824,1886,2613,1780,1434,1747,1784,91,0
Fire,17025,3635,4408,3524,4627,3755,3871,167,5
Flying,2711,283,315,265,377,290,410,22,2
Ghost,15568,2062,2361,2598,2539,2447,2059,134,2
Grass,24141,4709,5125,4956,5425,4930,4335,235,3
Ground,11401,2361,3064,2715,1807,2008,2045,101,4
Ice,10165,1728,1746,1714,1861,1831,1523,85,2
Normal,31279,7573,7200,5865,5470,6245,7012,299,2
Poison,7050,1883,2091,1927,1692,1803,1780,71,0
Psychic,21706,4026,4073,3858,5609,4918,4645,193,14
Rock,17280,2876,4086,4435,2787,3321,2460,152,4
Steel,11957,1761,2503,3412,1823,2177,1492,104,4
Water,33946,8071,8305,8170,8379,7898,7388,320,4

In [10]:
#group by more than one group
df_pokemons.groupby(['Type 1' , 
                     'Legendary']).mean()

                             #          HP      Attack     Defense  \
Type 1   Legendary
Bug      False      334.492754   56.884058   70.971014   70.724638
Dark     False      451.517241   64.655172   86.862069   68.689655
         True       604.000000   98.000000  110.500000   92.500000
Dragon   False      447.350000   72.650000  103.400000   78.150000
         True       519.416667  101.083333  126.666667  100.083333
Electric False      358.050000   57.325000   66.125000   65.425000
         True       418.000000   84.500000   98.750000   75.000000
Fairy    False      432.875000   70.875000   57.187500   63.875000
         True       716.000000  126.000000  131.000000   95.000000
Fighting False      363.851852   69.851852   96.777778   65.925926
Fire     False      322.957447   67.085106   82.191489   64.531915
         True       369.200000   96.400000  109.000000   98.200000
Flying   False      714.500000   62.500000   50.000000   57.500000
         True       641.000000   79.000000  107.500000   75.000000
Ghost    False      486.466667   58.733333   71.366667   79.266667
         True       487.000000  150.000000  110.000000  110.000000
Grass    False      336.074627   65.940299   72.119403   70.283582
         True       541.333333   97.000000   97.666667   82.333333
Ground   False      333.750000   70.821429   88.000000   79.821429
         True       514.000000   94.500000  150.000000  120.000000
Ice      False      438.318182   70.818182   73.227273   68.818182
         True       261.000000   85.000000   67.500000  100.000000
Normal   False      315.625000   76.489583   72.083333   58.697917
         True       489.500000  115.000000  140.000000  115.000000
Poison   False      251.785714   67.250000   74.678571   68.821429
Psychic  False      374.093023   67.720930   54.953488   61.000000
         True       401.428571   79.571429  122.142857   88.214286
Rock     False      370.650000   65.125000   89.925000   97.125000
         True       613.500000   67.750000  122.250000  137.500000
Steel    False      437.913043   60.434783   92.086957  126.652174
         True       471.250000   92.750000   96.250000  124.750000
Water    False      300.490741   71.120370   72.777778   71.990741
         True       373.250000   97.500000  111.250000   98.750000

                       Sp. Atk     Sp. Def       Speed  Generation
Type 1   Legendary
Bug      False       53.869565   64.797101   61.681159    3.217391
Dark     False       70.620690   67.827586   73.689655    3.965517
         True       133.000000   94.000000  112.000000    5.000000
Dragon   False       72.900000   77.400000   72.350000    3.750000
         True       136.750000  107.916667  100.833333    4.083333
Electric False       86.275000   72.325000   82.275000    3.275000
         True       127.500000   87.500000  106.750000    3.250000
Fairy    False       75.250000   83.875000   45.437500    4.000000
         True       131.000000   98.000000   99.000000    6.000000
Fighting False       53.111111   64.703704   66.074074    3.370370
Fire     False       86.000000   69.042553   73.276596    3.234043
         True       117.000000  102.000000   85.400000    3.000000
Flying   False       71.000000   60.000000   89.000000    6.000000
         True       117.500000   85.000000  116.000000    5.000000
Ghost    False       77.300000   74.233333   62.633333    4.200000
         True       110.000000  110.000000   90.000000    4.000000
Grass    False       76.343284   69.044776   59.701493    3.313433
         True       103.333333  101.333333  111.666667    4.333333
Ground   False       47.750000   59.571429   59.750000    3.035714
         True       117.500000   85.000000   93.000000    4.000000
Ice      False       75.727273   68.454545   63.090909    3.681818
         True        97.500000  162.500000   67.500000    2.000000
Normal   False       54.895833   62.656250   70.750000    3.031250
         True       100.000000  115.000000  110.000000    4.000000
Poison   False       60.428571   64.392857   63.571429    2.535714
Psychic  False       88.302326   80.674419   70.348837    3.418605
         True       129.428571  103.500000  115.714286    3.285714
Rock     False       60.125000   71.775000   53.550000    3.300000
         True        95.500000  112.500000   79.500000    5.000000
Steel    False       61.217391   76.304348   49.739130    3.869565
         True       103.750000  105.500000   87.000000    3.750000
Water    False       72.305556   68.175926   65.027778    2.851852
         True       142.500000  133.750000   91.250000    3.000000

In [11]:
# will aggregate the dataframe according to the functions applied within the list
df_pokemons.groupby('Type 1').agg(['min', np.median, 'max'])

            #              HP             Attack             Defense         \
          min median  max min median  max    min median  max     min median
Type 1
Bug        10  291.0  666   1   60.0   86     10   65.0  185      30   60.0
Dark      197  509.0  717  35   65.0  126     50   88.0  150      30   70.0
Dragon    147  443.5  718  41   80.0  125     50  113.5  180      35   90.0
Electric   25  403.5  702  20   60.0   90     30   65.0  123      15   65.0
Fairy      35  669.0  716  35   78.0  126     20   52.0  131      28   66.0
Fighting   56  308.0  701  30   70.0  144     35  100.0  145      30   70.0
Fire        4  289.5  721  38   70.0  115     30   84.5  160      37   64.0
Flying    641  677.5  715  40   79.0   85     30   85.0  115      35   75.0
Ghost      92  487.0  711  20   59.5  150     30   66.0  165      30   72.5
Grass       1  372.0  673  30   65.5  123     27   70.0  132      30   66.0
Ground     27  363.5  645  10   75.0  115     40   85.0  180      25   84.5
Ice       124  371.5  713  36   70.0  110     30   67.0  130      15   75.0
Normal     16  296.5  676  30   70.0  255      5   70.5  160       5   60.0
Poison     23  139.5  691  35   67.5  105     43   74.0  106      35   67.0
Psychic    63  386.0  720  20   68.0  190     20   57.0  190      15   65.0
Rock       74  362.5  719  30   68.5  123     40   95.0  165      40  100.0
Steel     208  379.0  707  40   60.0  100     24   89.0  150      50  120.0
Water       7  275.0  693  20   70.0  170     10   72.0  155      20   70.0

              Sp. Atk             Sp. Def             Speed              \
          max     min median  max     min median  max   min median  max
Type 1
Bug       230      10   50.0  135      20   60.0  230     5   60.0  160
Dark      125      30   65.0  140      30   65.0  130    20   70.0  125
Dragon    130      30  105.0  180      30   90.0  150    40   90.0  120
Electric  115      35   95.0  165      32   79.5  110    35   88.0  140
Fairy      95      40   75.0  131      40   79.0  154    15   45.0   99
Fighting   95      20   40.0  140      30   63.0  110    25   60.0  118
Fire      140      15   85.0  159      40   67.5  154    20   78.5  126
Flying     80      45  103.5  125      40   80.0   90    55  116.0  123
Ghost     145      30   65.0  170      33   75.0  135    20   60.5  130
Grass     131      24   75.0  145      30   66.0  129    10   58.5  145
Ground    160      20   47.5  150      30   62.5  120    10   65.0  120
Ice       184      30   77.5  130      30   70.0  200    25   62.0  110
Normal    126      15   50.0  135      20   60.5  135     5   71.0  135
Poison    120      30   60.0  100      40   60.5  123    25   62.5  130
Psychic   160      23   95.0  194      20   90.0  160    20   80.0  180
Rock      200      10   60.0  160      25   70.0  150    10   50.0  150
Steel     230      24   55.0  150      37   80.0  150    23   50.0  110
Water     180      10   70.0  180      20   65.0  160    15   65.0  122

         Generation            Legendary
                min median max       min median    max
Type 1
Bug               1    3.0   6     False    0.0  False
Dark              2    5.0   6     False    0.0   True
Dragon            1    4.0   6     False    0.0   True
Electric          1    4.0   6     False    0.0   True
Fairy             1    6.0   6     False    0.0   True
Fighting          1    3.0   6     False    0.0  False
Fire              1    3.0   6     False    0.0   True
Flying            5    5.5   6     False    0.5   True
Ghost             1    4.0   6     False    0.0   True
Grass             1    3.5   6     False    0.0   True
Ground            1    3.0   5     False    0.0   True
Ice               1    3.0   6     False    0.0   True
Normal            1    3.0   6     False    0.0   True
Poison            1    1.5   6     False    0.0  False
Psychic           1    3.0   6     False    0.0   True
Rock              1    3.0   6     False    0.0   True
Steel             2    3.0   6     False    0.0   True
Water             1    3.0   6     False    0.0   True

In [30]:
df_pokemons.groupby('Type 1').agg({'HP' : ['max' , 'min'] , 
                                 'Sp. Atk':[np.std , np.median]})

           HP        Sp. Atk
          max min        std median
Type 1
Bug        86   1  26.697055   50.0
Dark      126  35  33.200952   65.0
Dragon    125  41  42.257360  105.0
Electric   90  20  29.740340   95.0
Fairy     126  35  28.548462   75.0
Fighting  144  30  28.159345   40.0
Fire      115  38  30.042121   85.0
Flying     85  40  34.769479  103.5
Ghost     150  20  32.561217   65.0
Grass     123  30  27.244864   75.0
Ground    115  10  28.135598   47.5
Ice       110  36  26.604967   77.5
Normal    255  30  23.946395   50.0
Poison    105  35  19.322657   60.0
Psychic   190  20  38.539340   95.0
Rock      123  30  28.249670   60.0
Steel     100  40  31.458606   55.0
Water     170  20  29.030128   70.0

## Apply, Apply map, map


Suppose we need to change the name of pokÃ©mons, adding the prefix "PokÃ©mon" to their names, separating them with an underscore.
**Ex.: PokÃ©mon_Bulbasaur**

### Def Functions


A function is a block of code that takes some parameters and returns a value. Ex.: We can receive the number of hours worked and the hourly value of an employee and return the salary for that month through the function.

To define a function we need the ```def``` keyword. In addition to the ```def```, we need to give our function a name. In our case it will be called calculate_salary. Finally, it will receive 2 parameters: number of hours worked and hourly value, and then return the calculated value through the ```return``` keyword.

Let's use a function to prefix "PokÃ©mon" to any string and return the new string

In [12]:
def add_pokemon(string):
    nova_string = "Pokemon_"+string
    return nova_string

In [13]:
add_pokemon('Bulbasaur')

'Pokemon_Bulbasaur'


Now, we just apply this function to all pokemons in our data frame. How would we do this?


One option would be via a ```for```. But the coolest option would be to use the ```map``` method.

### Map


To the ```map``` method we pass:


The map method will iterate item by item and apply the desired function. Example: Take the square root of each element. Note that there is already a function that performs this task. Creating functions with ```def``` will be for only well-customized functions. In Numpy we have ```np.sqrt```.

In [14]:
# Take the root of each element of the HP column
df_pokemons['HP'].map(np.sqrt)

0      6.708204
1      7.745967
2      8.944272
3      8.944272
4      6.244998
         ...
795    7.071068
796    7.071068
797    8.944272
798    8.944272
799    8.944272
Name: HP, Length: 800, dtype: float64

### Apply

If we want to apply a certain function to all rows at once? Or in all columns?.<br>
Use ```apply```.

In [15]:
# Applying the max function to each column
df_pokemons.max()

#                          721
Name          Zygarde50% Forme
Type 1                   Water
HP                         255
Attack                     190
Defense                    230
Sp. Atk                    194
Sp. Def                    230
Speed                      180
Generation                   6
Legendary                 True
dtype: object

In [16]:
# Applying the max function to each row
df_pokemons.max(axis=1)

0       65.0
1       80.0
2      100.0
3      123.0
4       65.0
       ...
795    719.0
796    719.0
797    720.0
798    720.0
799    721.0
Length: 800, dtype: float64


Note that the maximum value of each row has been returned.

However, there are functions that do not have this behavior. Suppose we want to know the difference between the maximum and the minimum of each attribute of our dataframe.

In [17]:
def max_min(x):
    diference = x.max() - x.min()
    return diference

In our example, the x is a column of the dataframe. To apply this calculation logic to a column, we use ```apply```.

In [18]:
# applying the method to some columns
df_pokemons.loc[: , ['HP' , 'Sp. Atk']].apply(max_min)

HP         254
Sp. Atk    184
dtype: int64

## Applymap


What if we want to apply some transformation to each dataframe element at once? <br>
Use applymap.

In [43]:
df_pokemons.loc[: , ['HP' , 'Sp. Atk' , 'Attack' , 'Defense']].applymap(np.sqrt)

           HP    Sp. Atk     Attack    Defense
0    6.708204   8.062258   7.000000   7.000000
1    7.745967   8.944272   7.874008   7.937254
2    8.944272  10.000000   9.055385   9.110434
3    8.944272  11.045361  10.000000  11.090537
4    6.244998   7.745967   7.211103   6.557439
..        ...        ...        ...        ...
795  7.071068  10.000000  10.000000  12.247449
796  7.071068  12.649111  12.649111  10.488088
797  8.944272  12.247449  10.488088   7.745967
798  8.944272  13.038405  12.649111   7.745967
799  8.944272  11.401754  10.488088  10.954451

[800 rows x 4 columns]